html, body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header{
	padding: 1% 14% 1% 14%;
	background-color: #08020d;
}

.icon{
	display: inline-block;
	cursor: pointer;
}
.icon img{
	width: 150px;
	height: 60px;
}

.menu{
	float: right;
	display: inline-block;
	padding: 16px 0px 16px 18px;
}

.menu button{
	background-color: transparent;
	color: #fff;
	vertical-align: middle;
	border: 0.5px solid #939393;
	border-radius: 18px;
	margin-right: 20px;
	padding: 6px 25px 6px 25px;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0px 0px 16px #b2497d;
}

.menu button:hover{
	box-shadow: 0px 0px 35px #b2497d;
}

nav{
	background-color: #000059;
	padding: 0.1px;
}

ul{
	list-style-type: none;
	color: #fff;
	text-align: center;
}

a{
	cursor: pointer;
	text-decoration: none;
}

a:link{
	color: #fff;
}

a:visited {
	color: #fff;
}

a:active{
	color: #cccc00;
}

a:hover{
	color: #cccc00;
}

ul li{
	display: inline-block;
}

li img{
	width: 32px;
	height: 28px;
}

div.inline-text{
	display: inline;
	vertical-align: 8px;
	padding-left: 4px;
	margin-right: 30px;
}

section{
	padding: 0 6% 0 14%;
}

footer{
	padding: 30px 14%;
	background-image: url('../img/footer.png');
	background-size: cover;
}

.grid-container{
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 250px);
	grid-gap: 0px;
}

.inline-div{
	display: inline-block;
	width: 120px;
	padding-left: 5px;
	vertical-align: 6px;
}

.font-3{
	color: #fff0f2;
	text-shadow: 2px 2px 35px #ff6a80;
	letter-spacing: 1px;
}

.table-1{
	width: 90%;
	color: #fff;
	text-align: left;
	background-color: #213131;
	padding: 5px;
	border-collapse: collapse;
}

th{
	color: #00ffff;
	padding: 10px 0 10px 15px;
	background-color: #0a0f13;
}

tr:nth-child(even){
	background-color: #0f030f;
}

tr:nth-child(odd){
	background-color: #1b081c;
}

td{

	padding: 5px 0 5px 15px;
	color:#F3FFFF;
	text-shadow: 1px 1px 5px #0000FF;
}